# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Composer
composer.phar

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
